html { 
    font-size: 62.5%;
} 

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;

    font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: #222;
}

ol,
ul {
    padding-left: 0;
    margin-top: 0;
}

a {
    color: #1eaedb;
}

h1, h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    line-height: 1.2;
}

h2 {
    line-height: 1.35;
}

.container {
    display: flex;
    flex-direction: column;

    max-width: 600px;
}

.photo {
    -moz-box-sizing: border-box;
    border: .3em solid #fff;
    border-radius: .3em .3em .3em .3em;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    max-width: 100%;
    max-height: 250px;
    margin-bottom: 2rem;
}

.name {
    margin-bottom: 0;
    font-size: 4rem;
}

.title,
.link-label {
    font-size: 2.4rem;
}

.links {
    list-style: none;
}

.link-holder {
    margin-bottom: 0.5rem;
}

.link-holder:last-child {
    margin-bottom: 0;
}

.link-icon {
    margin-right: 1rem;
    position: relative;
    top: 0.7rem;
}

/* Larger than mobile */
@media (min-width: 400px) {
    body {
        padding-top: 3rem;
    }

    .container {
        width: 85%;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    body {
        padding-top: 4rem;
        text-align: left;
    }

    .container {
        flex-direction: row;
        width: 85%;
    }

    .text-holder {
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .name {
        font-size: 3.5rem;
    }

    .title {
        font-size: 2.2rem;
    }

    .links {
        margin-bottom: 0;
    }

    .photo {
        margin-bottom: 0;
        max-height: 100%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .name {
        font-size: 5rem;
    }

    .title {
        font-size: 2.4rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
